

<div class="resume-section-content">
    <h2 class="mb-5">İLETİŞİM</h2>
    <form method="post">
        <label>AD SOYAD</label>
        <input type="text" class="form-control" name="AdSoyad" />
        <br />
        <label>MAİL</label>
        <input type="text" class="form-control" name="Mail" />
        <br />
        <label>KONU</label>
        <input type="text" class="form-control" name="Konu" />
        <br />
        <label>MESAJ</label>
        @*<input type="text" class="form-control" name="Mesaj" />*@
        <textarea class="form-control" name="Mesaj"></textarea>

        <br />
        <button class="btn btn-success">GÖNDER</button>
    </form>
</div>
